* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: white;
    --main-bg-color: rgb(0, 227, 253);
    --secundary-color: rgb(233, 236, 19);
}
body {
    background-color: var(--secundary-color);
}
html {
    font-size: 16px;
}

nav,
footer {
    background-color: var(--main-bg-color);
    color: var(--secundary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin: 10px;
}

main {
    position: relative;
}

p {
    padding: 5px;
}

footer::after {
    font-weight: bold;
    color: var(--main-color)
}

nav::after {
    font-weight: bold;
    color: var(--main-color);
}

.container {
    max-width: 760px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(168, 167, 167);
}


.bold {
    font-weight: bold;
}

#weather-icon {
    display: none;
}

#weather-svg {
    display: block;
}

#hero-picture {
    max-width: 100%;
    height: auto;
}